@import url("./reset.css");
*,*::before,*::after{
    box-sizing: border-box;
}

/* .hero_ball{
    top:calc(100vh - 180px);
    position: absolute;
    width: 200px;
    height: 360px;
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/ball01.svg");
    background-position: right;
} */
body{
    max-width: 100%;
}
.wrap{
    position: relative;
    max-width: 100%;
    height: 769px;
    display: flex;
    justify-content: flex-end;
}
.navbar{
    top: 24px;
    left: 139px;
    position: absolute;
    max-width: 218px;
}
.wrap-a{
    position: absolute;
    top: 24px;
    right: 100px;
    width: 128px;
    background-color: #FF5D50;
    border-radius: 22px;
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    padding: 8px 32px 8px 32px;
    text-decoration: none;
}
.bg1{
    max-width: 850px;
}
.bg{
    top: 130px;
    right: 145px;
    position: absolute;
    max-width: 532px;
    height: 534px;
}
.bg2{
    display: none;
    max-width: 334px;
    position: absolute;
}
.wrap-left{
    margin: 300px auto;
    text-align: center;
}
.wrap-p{
    max-width: 432px;
    color: #56C4C5;
    font-size: 18px;
    font-weight:bold ;
    margin-bottom: 8px;
    margin-right: 100px;
}
.wrap-h1{
    color: #221E1F;
    font-size: 48px;
    font-weight: bold;
    max-width: 432px;
    margin-bottom: 16px;
}
.wrap-h11{
    color: #221E1F;
    font-size: 48px;
    font-weight: bold;
    max-width: 432px;
    margin-bottom: 16px;
    margin-left: 70px;
}
.wrap-p2{
    color: #221E1F;
    font-size: 20px;
    font-weight: bold;
    max-width: 451px;
    margin-left: 70px;
}
.footer-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/home_footer.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 503px;
}


.footer-banner  h1{
    top: 100px;
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 50px
}
.footer-center{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-top: 300px;
}
.mb-80{
    margin-bottom: 80px;
}
.mb-50{
    margin-top: 50px;
}
.text-center{
    text-align: center;
}
.btn{
    background-color: #56C4C5;
    color: #FFFFFF;
    border-radius: 27px;
    width: 140px;
    line-height: 49px;
    border: 1px solid #56C4C5;
    font-size: 18px;
    text-decoration:none;
}
.footer{
    background-color: #f5f5f5 ;
    text-align: center;
    max-height: 10vh;
}
.ptb20{
    padding-top: 20px;
    padding-bottom: 20px;
}
.content-ul li img{
    display:block;
    margin: 0 auto;
    max-width: 90px;
    margin-bottom: 30px;
}
.content{
    max-width: 60%;
    margin: 0 auto; 
    margin-bottom: 50px;
}
.content h1{
    font-size: 32px;
    text-align: center;
    color: #221E1F;
    font-weight: bold;
    margin-bottom: 50px;
}
.content-ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-ul li{
    max-width: 30%;
}
.content-ul li h2{
    font-size: 24px;
    color: #221E1F;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}
.content-ul li p{
    font-size: 16px;
    color: #747474;
    font-weight: normal;
    text-align: center;
}
.sort{
    margin: 0 auto; 
    margin-bottom: 50px;
}
.sort-ul li img{
    display:block;
    margin: 0 auto;
    width: 260px;
    margin-bottom: 16px;
    border-radius: 10% 10% 0 0;
}
.sort h1{
    font-size: 32px;
    text-align: center;
    color: #221E1F;
    font-weight: bold;
    margin-bottom: 30px;
}
.sort h2{
    font-size: 20PX;
    text-align: center;
    color: #221E1F;
    font-weight: 900;
    margin-bottom: 50px;
}
.sort-ul{
    display: flex;
    justify-content: center;
    max-width: 100%;
}
.sort ul li{
    width: 260px;
    height: 368px;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 10% 10% 0 0;
    margin-right: 16px;
}
.sort-p{
    font-size: 16px;
    font-weight: bold;
    color: #56C4C5;
    text-align: center;
    margin-bottom: 16px;
}
.sort-p2{
    max-width: 50%;
    font-size: 16px;
    font-weight: bold;
    color: #221E1F;
    margin: 0 auto;
    text-align: center;
}


.squares{
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -40px;
}
.learn{
    max-width: 532px;
}
.squares ul{
    max-width: 507px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.squares ul li{
    max-width: 230px;
    height: 280px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 12px;
    margin-bottom: 30px;
    margin-right: 16px;
}
.circle{
    width: 86px;
    height: 86px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 50% ;
    text-align: center;
    margin-left: 20px;
    margin-top: 30px;
}
.circle img{
    width: 52px;
    height: 52px;
    margin-top: 15px;
}
.squares ul li h1{
    color: #221E1F;
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
    padding-left: 20px;
}
.squares ul li p{
    font-size: 16px;
    font-weight: bold;
    color: #221E1F;
    padding-top: 20px;
    padding-left: 20px;
}
.learn h1{
    color: #221E1F;
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 16px;
    max-width: 45%;
    margin: 0 auto;
}
.learn p{
    color: #221E1F;
    font-size: 18px;
    font-weight: normal;
    max-width: 45%;
    margin: 0 auto;
}
.learn a{
    font-size: 18px;
    text-decoration:none;
    padding-top: 100px;
    color: #FFFFFF;
    
}
.btn-learn{
    width: 136px;
    height: 49px;
    background-color: #56C4C5;
    text-align: center;
    line-height: 49px;
    margin-left: 28%;
    border-radius: 27px;
    margin-top: 24px;
}
.praise{
    margin: 0 auto;
    max-width: 90%;
    margin-bottom: 24px;
}
.praise h1{
    color: #221E1F;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 60px;
}
.praise-ul{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
.box1{
    margin-top: 60px;
    position: relative;
    width: 352px;
    height: 248px;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 12px;
    background-color: #FFFFFF;
}
.box1-img{
    top: -60px;
    left: 30px;
    position: absolute;
    max-width: 80px;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 50%;
}
.box1 p{
    color: #221E1F;
    font-size: 16px;
    width: 288px;
    margin-top: 48px;
    margin-left: 32px;
}
.hr{
    max-width: 81%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.box1-text{
    font-size: 16px;
    font-weight: bold;
    margin-left: 32px;
}
.mb-2{
    margin-bottom: 20px;
}
.star{
    margin-left: 85px;
    max-width: 16px;
}
.star1{
    max-width: 16px;
    margin-left: 8px;
}
.box1 .sss img{
    position:absolute;
    max-width: 16px;
    top:200px;
}
.little{
    max-width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.gray{
    width: 10px;
    height: 10px;
    background-color: #DDDDDD;
    border-radius: 50px;
    margin-right: 8px;
}
.yellow{
    width: 16px;
    height: 10px;
    background-color: #FFD153;
    border-radius: 40px;
}
@media (max-width:767px) {
    .footer-banner{
        height: 461px;
    }
    .footer-banner .footer-center  h1{
        font-size: 24px;
        text-align: center;
    }
    .content-ul{
        flex-direction: column;
    }
    .content{
        max-width: 100%;
    }
    .content-ul li h2{
        max-width: 100%;
    }
    .content-ul li{
        max-width: 100%;
        margin-bottom: 30px;
    }
    .content-ul li p{
        max-width: 65%;
        margin: 0 auto;
    }
    .sort-ul{
        flex-direction: column;
        margin-left: 17%;
    }
    .sort{
        max-width: 100%;
    }
    .sort h2{
        margin: 0 auto 50px;
        max-width: 90%;
    }
    .sort-ul li{
        max-width: 100%;
        margin-bottom: 30px;
    }
    .sort-ul li p{
        max-width: 65%;
        margin: 0 auto ;
        margin-bottom: 16px;
        text-align: center;
    }
    .squares{
        max-width:100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        margin-left:0px ;
    }
    .squares ul li{
        max-width: 230px;
        margin: 0 20px 30px 0px;
    }
    .squares ul{
        display: flex;
        flex-direction: column-reverse;
    }
    .learn h1{
        max-width: 80%;
        text-align: center;
        padding-right: 20px;
    }
    .learn p{
        max-width: 80%;
        text-align: center;
        padding-right: 20px;
    }
    .btn-learn{
        margin-bottom: 32px;
    }
    .praise-ul{
        flex-direction: column;
    }
    .box1{
        margin-bottom: 84px;
    }
    .praise h1{
        margin-bottom: 84px;
        margin-top: 50px;
    }
    .wrap{
        flex-direction: column;
    }
    .bg1{
        display: none;
    }
    .bg{
        max-width: 304px;
        top: 310px;
        right: 50px;
    }
    .bg2{
        display: block;
        z-index: -1;
        bottom: 30px ;
        left: 20px;
    }
    .wrap-p{
        margin-left: 20px;
    }
    .wrap-h1{
        margin-right: 60px;
        margin-bottom: 16px;
    }
    .wrap-h11{
        margin-right: 8px;
        margin-left: 0px;
    }
    .wrap-p2{
        margin-left: 25px;
        margin-bottom: 100px;
    }
    .navbar{
        top: 30px;
        left: 21px;
        max-width: 130px;
    }
    .wrap-a{
        top: 24px;
        right: 10px;
    }
}